{% extends 'Home/homepage.html.twig' %}
{% block body %}
    {% block bubbles %}
        {{ parent() }}
    {% endblock %}
    {% block navbar %}
        {{ parent() }}
    {% endblock%}

    {% block smallContainer %}
        <div class="appointment-content col-6" style="background: white;">
            {% for message in app.flashes('noUserFound') %}
                <div class="alert alert-danger" style="text-align: center">{{ message }}</div>
            {% endfor %}
            <span class="sub-title">Zgjidh Menyren</span>
            <h4>
                <strong>
                    Zgjidh Menyren per te rivendosur Fjalekalimin!
                </strong>
            </h4>
            <form method="POST" action="">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <div class="icon">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </div>
                            <label for="email">Vendosni Emailin tuaj: </label>
                            <input type="email" name="email" id="email" required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <div class="icon">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                            <label for="email">Konfirmo me Email: </label>
                            <input type="submit" class="btn butoni" name="email" id="form" value="Dergo Email">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <div class="icon">
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                            </div>
                            <label for="dergoSMS">Konfirmo me SMS</label>
                            <input class="btn butoni" type="submit" name="dergoSMS" id="dergoSMS" value="Dergo SMS">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock%}

    {% block footer %}
        {{ parent() }}
    {% endblock%}
{% endblock %}