{% extends 'Home/homepage.html.twig' %}

{% block body %}
    {% block bubbles %}
        {{ parent() }}
    {% endblock %}
    {% block navbar %}
        {{ parent() }}
    {% endblock%}

    {% block smallContainer %}
    <section class="main-services-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span>Rreth Nesh</span>
                <h2>Informacion Rreth Nesh</h2>
                <p>
                    <strong>Misioni</strong> <br>
                    Ofrimi i një shërbimi gjithëpërfshirës në një mjedis ku inovacioni dhe edukimi i vazhdueshëm janë pjesë përbërëse e kujdesit; ku jemi krenar për t’u shërbyer pacientëve dhe njeri-tjetrit; ku përmbushja e sfidave komplekse mjekësore shihet si roli ynë kryesor dhe ku cilësia e siguria e kujdesit janë të padiskutueshme.
                </p>
                <p>
                    <strong>Vizioni</strong> <br>
                    Të jetë lider i padiskutueshem në ofrimin e shërbimeve nga më imediatet deri në ato me inovative e komplekse.
                </p>
                <p>
                    <strong>Vlerat</strong> <br>
                    Vizioni i MegaSpital për përsosmëri dhe lidership është i nxitur nga vlerat e tij kryesore që përfshijnë shërbimin, partneritetin, kujdesin dhe integritetin. Ne punojmë fort që të sigurojmë kujdes maksimal dhe të trajtojmë të gjithë pacientët më të njejtën siguri, dinjitet dhe respekt.
                </p>
                <p>
                    <strong>Objektivat </strong> <br>
                </p>
                    Shëndeti, siguria dhe kënaqësia e pacientit. <br>
                    Ruajtja e vlerave profesionale. <br>
                    Kriteret e qarta për punësim, trajnim dhe zhvillim profesional. <br>
                    Automatizimi i të dhënave të pacientëve dhe pritje adekuate e pacientit, përpunim dhe përmbledhje e të dhënave me saktësi maksimale dhe gabim njerëzor minimal. <br>
                    Përmirësimi i vazhdueshëm i cilësisë përmes vlerësimeve të brendshme dhe të jashtme; matja e vazhdueshme e cilësisë nëpërmjet treguesve klinikë dhe menaxhimit të riskut. <br>
                    Menaxhim efektiv i kostos dhe çmimit të shërbimeve të ofruara. <br>
                    Zgjerimi i kujdesshëm i departamenteve, shërbimeve dhe objekteve aty ku është e nevojshme. <br>
                    Punë e vazhdueshme dhe përzgjedhëse me sektorin publik për të krijuar mundësi të reja “outsourcing” dhe për të vazhduar drejt një fondi të kujdesit shëndetësor publik. <br>
                    Zhvillimi i biznesit gjithnjë në përputhje me standardet ndërkombëtare dhe ligjin vendor. <br>
                </p>
            </div>
        </div>
    </section>
    {% endblock%}

    {% block footer %}
        {{ parent() }}
    {% endblock%}
{% endblock %}


