{% extends 'registration/email-layout.html.twig' %}

{% block body_text %}
    {{ 'user.mailer.reset-password.txt'|trans({'%resetPasswordUrl%' : resetPasswordUrl}) }}
{% endblock %}

{% block body_html_content %}
    {{ 'Ky eshte nje e-mail konfirmimi nga Qendra Spitalore "Mega Spital"<br>' }}
    {{ 'Kliko <a href="%resetPasswordUrl%" target="_blank"><button style = "background-color:white; color:black">ketu</button></a> per te ndryshuar password<br>'|trans({'%resetPasswordUrl%' : resetPasswordUrl})|raw}}
    {{ 'Të gjitha të drejtat e rezervuara, 2020.' }}
{% endblock %}